.LanguagesSwitcher {
    position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 4px;
  border-radius: 999px;

  background-color: var(--inverted-bg-color);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);

}


.langButton {
  position: relative;
  z-index: 2;

  padding: 6px 12px;
  border-radius: 999px;

  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-transform: uppercase;

  color: var(--inverted-secondary-color);

  transition: color 0.2s ease, transform 0.1s ease;

  width: 24px;
}

.langButton:hover {
  transform: translateY(-1px);
}

.active {
  color: var(--bg-color);
}

/* Подложка, которая «ездит» */
.thumb {
  position: absolute;
  z-index: 1;

  top: 4px;
  left: 4px;

  width: calc((100% - 8px) / 3);
  height: calc(100% - 8px);

  border-radius: 999px;
  background-color: var(--primary-color);

  transition: transform 0.25s ease, background-color 0.25s ease;
}

/* позиции подложки */
.isEn .thumb {
  transform: translateX(0);
}

.isDe .thumb {
  transform: translateX(100%);
}

.isRu .thumb {
  transform: translateX(200%);
}
