.LanguagesSwitcher {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 120px;
    height: 44px;
    padding: 4px;
    background-color: var(--inverted-bg-color);
    border-radius: 999px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
    transition: width 0.25s ease,
        height 0.25s ease,
        background-color 0.25s ease;
}

.collapsed {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    width: 44px;
    height: 120px;
}

.langButton {
    position: relative;
    z-index: 2;
    width: 24px;
    padding: 6px 12px;
    font-size: 11px;
    font-weight: 600;
    color: var(--inverted-secondary-color);
    text-transform: uppercase;
    letter-spacing: 0.14em;
    border-radius: 999px;
    transition: color var(--esse-025), transform var(--esse-025);
}

.collapsed .langButton {
    width: 100%;
    font-size: 10px;
}


.langButton:hover {
    transform: translateY(-1px);
}

.active {
    color: var(--bg-color);
}


.thumb {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    width: calc((100% - 8px) / 3);
    height: calc(100% - 8px);
    background-color: var(--primary-color);
    border-radius: 999px;
    transition: transform var(--esse-025), color var(--esse-025);
}



.isEn .thumb {
    transform: translateX(0);
}

.isDe .thumb {
    transform: translateX(100%);
}

.isRu .thumb {
    transform: translateX(200%);
}

.collapsed .thumb {
    width: calc(100% - 8px);
    height: calc((100% - 8px) / 3);
}

.collapsed.isEn .thumb {
    transform: translateY(0);
}

.collapsed.isDe .thumb {
    transform: translateY(100%);
}

.collapsed.isRu .thumb {
    transform: translateY(200%);
}

