.Sidebar {
    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background: var(--inverted-bg-color);
    transition: var(--transition-width);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    gap: 12px;
    transform: translateX(-50%);
}
