.app.light {
    --bg-color: rgb(183 112 112);
    --inverted-bg-color: black;
    --primary-color: #4530e4;
    --secondary-color: #786ae4;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
