.Navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding: 20px;
}

.links{
  margin-left: auto;
}
.linkMain{
  margin-right: 16px;
}
