.Modal {
    position: fixed;
    inset: 0;
    z-index: var(--z-index-modal);
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-base);
}

.opened {
    pointer-events: auto;
    opacity: 1;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg);
}


.content {
    position: relative;
    min-width: 300px;
    min-height: 300px;
    padding: 24px;
    background: red;
    border-radius: 12px;
    opacity: 0;
    filter: blur(6px);
    transform: scale(0.96) translateY(12px);
    transition: transform var(--transition-base), opacity var(--transition-base),
        filter var(--transition-base);
}

.opened .content {
    opacity: 1;
    filter: blur(0);
    transform: scale(1) translateY(0);
}

.isClosing .content {
    opacity: 0;
    filter: blur(6px);
    transform: scale(0.96) translateY(12px);
}

.closeBtn {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
}
