.Sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);

  transition: var(--transition-width);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  position: absolute;
  display: flex;
  gap: 12px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
