.Loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - var(--navbar-height));
    flex-grow: 1;
}

/* stylelint-disable number-max-precision, keyframes-name-pattern */

.lds_roller,
.lds_roller div,
.lds_roller div::after {
    box-sizing: border-box;
}

.lds_roller {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds_roller div {
    transform-origin: 40px 40px;
    animation: lds_roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds_roller div::after {
    position: absolute;
    display: block;
    width: 7.2px;
    height: 7.2px;
    margin: -3.6px 0 0 -3.6px;
    content: ' ';
    background: var(--inverted-bg-gradient);
    border-radius: 50%;
}

.lds_roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds_roller div:nth-child(1)::after {
    top: 62.62742px;
    left: 62.62742px;
}

.lds_roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds_roller div:nth-child(2)::after {
    top: 67.71281px;
    left: 56px;
}

.lds_roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds_roller div:nth-child(3)::after {
    top: 70.90963px;
    left: 48.28221px;
}

.lds_roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds_roller div:nth-child(4)::after {
    top: 72px;
    left: 40px;
}

.lds_roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds_roller div:nth-child(5)::after {
    top: 70.90963px;
    left: 31.71779px;
}

.lds_roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds_roller div:nth-child(6)::after {
    top: 67.71281px;
    left: 24px;
}

.lds_roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds_roller div:nth-child(7)::after {
    top: 62.62742px;
    left: 17.37258px;
}

.lds_roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds_roller div:nth-child(8)::after {
    top: 56px;
    left: 12.28719px;
}

@keyframes lds_roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
